/* utility class */

.m_none {
  margin: 0;
}

.m_t_5 {
  margin-top: 5px;
}

.m_l_5 {
  margin-left: 5px;
}

.m_b_20 {
  margin-bottom: 20px;
}

.m_t_b_50 {
  margin: 50px 0;
}

.p_b_none {
  padding-bottom: none;
}

.p_none {
  padding: 0;
}

.p_t_b_20 {
  padding: 20px 0;
}

.p_t_b_50 {
  padding: 20px 0;
}

.p_b_20 {
  padding-bottom: 20px;
}

.p_b_50 {
  padding-bottom: 40px;
}

.p_l_r_20 {
  padding: 0 20px;
}


.bg_white {
  background-color: white;
}

.bg_lightgrey {
  background-color: rgb(243, 245, 249);
}

.bg_blue {
  background-color: lightblue;
}

.text_c {
  text-align: center;
}

.text_r {
  text-align: right;
}

.text_l {
  text-align: left;
}

/* /utility class */


/* header */

header {
  background-image: url('../img/header/bg-home.svg');
  background-size: cover;
}

/* header_top */
.navbar img {
  width: 50%;
}

.navbar button {
  vertical-align:
}


/* /header_top */



/* /header */





/* main */

/* deploy */

.card_carousel img {
  width: 100%;
}

.card_carousel::after {

}

/* /deploy */


/* service */

.card_internet_test {
  border-bottom: 1px solid grey;
  margin:5px;
}

.card_internet_test p{
   margin: 0;
}


/* /service */

/* /main */



/* footer */

/* footer */
