body {
  font-family: 'Roboto', sans-serif;
}

/* utility class */
.m_none {
  margin: 0;
}

.m_t_5 {
  margin-top: 5px;
}

.m_l_5 {
  margin-left: 5px;
}

.m_b_20 {
  margin-bottom: 20px;
}

.m_t_b_50 {
  margin: 50px 0;
}

.p_b_none {
  padding-bottom: none;
}

.p_none {
  padding: 0;
}

.p_t_5 {
  padding-top: 5px;
}

.p_t_b_20 {
  padding: 20px 0;
}

.p_t_b_50 {
  padding: 20px 0;
}

.p_b_20 {
  padding-bottom: 20px;
}

.p_b_50 {
  padding-bottom: 40px;
}

.p_l_r_20 {
  padding: 0 20px;
}

.p_r_20 {
  padding-right: 20px;
}


.p_l_20 {
  padding-left: 40px;
}

.bg_white {
  background-color: white;
}

.bg_lightgrey {
  background-color: rgb(243, 245, 249);
}

.bg_blue {
  background-color: lightblue;
}

.text_c {
  text-align: center;
}

.text_r {
  text-align: right;
}

.text_l {
  text-align: left;
}

/* /utility class */
/* header */
header {
  background-image: url('../img/header/bg-home.svg');
  background-size: cover;
}

/* header_top */
.navbar img {
  width: 50%;
}

.navbar ul {
  padding-top: 7px;
}

.navbar button {
  margin-top: 8px;
}

.navbar button:hover, .navbar button:hover a {
  background-color: #286090;
  color: white;
  border=color: #286090;
}


.navbar a {
  text-decoration: none;
}

/* /header_top */
/* /header */
/* main */
/* deploy */
.card_carousel img {
  width: 100%;
}

.card_carousel::after {}

/* /deploy */
/* service */
.card_internet_test {
  width: 100%;
  border-bottom: 1px solid grey;
  margin: 10px 0;

}

.card_internet_test p {
  margin: 0;
}

.card_internet_test a {
  text-align: right;
  text-decoration: none;
}

/* /service */



/* second_carousel */

#second_carousel .card_carousel {
  padding: 40px;
}

#second_carousel .card_carousel img {
  width: 30%;
}

/* /second_carousel */


/* get_started */
#get_started {
  background-image: url('../img/header/bg-home.svg');
  background-color: rgb(0, 105, 255);
  background-size: cover;
}

#get_started h2 {
  color: white;
}

/* /get_started */

/* /main */
/* footer */
/* footer */
